/* theme */
/* https://material.io/design/color/the-color-system.html#tools-for-picking-colors */
.theme{

    background: #69f0afc4;
    background: #FF0266;
    background: #004D40;
    background: #009688;
    background: #4DB6AC ;
    color: #84FFFF;
}
/* :root{
    --bgColor:red;
    --textColor:green;
    
  } */
/* theme end */
#viewer{
    display: inline-block;
    position: fixed;
    top: 20%;
    left:2%;
    color: #ffffff;
    z-index:2;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto,sans-serif;
    user-select: none;
}
body {
    
    background: #9af3ea;
    /* background: var(--bgColor); */

}
::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{border-radius: 20px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, 1) 0%,
											  rgb(41, 3, 179) 25%,
											  transparent 100%,
											  rgb(33, 129, 184) 75%,
											  transparent)
}


html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}
img:hover{cursor: pointer;}

.container {

    display: flex;
    padding: 20px 0;
    
    
}

.message {
    padding: 20px 10px;
    position: fixed;
    width: 100%;
    top: 100px;
    border: 2px solid #000000;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 743678586;
    background: #003333;
    color: #f1f1f1;
    text-align: center;
    transition: 0.7s linear;
    display: none;
}

.message:hover {
    width: 100%;
}

.messageAnimate {
    width: 100%;
}



.container .sidebar {
    flex: 30%;
    padding: 10px;
    position: sticky;
    top: 100px;
    justify-content: flex-start;
    position: sticky;
    position: -webkit-sticky;
    top:20px

}
.contact-us{
    margin-bottom: 30px;
    background: #00695c;
    padding: 50px 10px 50px 10px;
    border-radius: 10px 10px 0px 0px;

}
.contact-us input{
    padding: 14px 10px;
    display: block;
    width: 100%;
    margin-bottom: 2px;
    font-size: 18px;
    border: none;
    outline: none;
    transition: 0.3s linear;
    border-radius: 3px;
    
}
.contact-us input:focus{
    padding:17px;
}
.contact-us input[type='submit']{
    background: #003333;
    color: #ffffff;
    cursor: pointer;
    margin-top: 5px;
    border: none;
    outline: none;
}
.sidebar .contact-us input[type='submit']:hover{
    letter-spacing: 1px;
    padding:15px;
}



/*navbutton*/
#navbutton {


    cursor: pointer;
    outline: none;
    padding: 20px;
    border: none;
    background: transparent;
    display: inline-block;


}

#navbutton .line {
    display: block;
    width: 30px;
    height: 3px;
    background: #f1f1f1;
    margin: 5px;
}


.container .main {
    flex: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;



}
@media screen and (min-width:700px){
    .container .main{
        padding:10px 30px;
    }
}

header.top {
    padding: 10px;
    background: #004D40;
    text-align: center;
    box-shadow: 0px 0px 3px 1px #777;
    z-index: 67523;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    position: sticky;
    top:0;
    width: 100%;
    transition: top 0.3s cubic-bezier();
    

}
/*Gradient Text*/


header.top b {

    color: aliceblue;
    text-shadow: 2px 2px 2px #000000;
    overflow: hidden;
    font-size: 26px;
}

.top b{flex:60%;display: inline-block;}
.top #navbutton{flex: 10%;}
.top #fullscreen{flex: 10%;}
.top .searchButton{flex: 10%;}
/*post*/
.main .post {
    
    margin: 30px 10px;
    font-size: 18px;
    position: relative;
    box-shadow: 0px 0px 3px 2px #777;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #003333;
    color: #f1f1f1;
	min-height:300px;
}

.main .blog-post{

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.main .blog-post header,.main .popular-post header{
    flex: 100%;
}
.main .popular-post{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}



.post .thumbnail{
    flex: 30%;
    overflow: hidden;
    

}
.post .thumbnail img{
width: 100%;
height: 100%;
border-radius: 10px;
}
.post .content{
    flex: 70%;
    padding: 10px;
    align-content: flex-start;
    align-self: flex-start;
    
}

.main .post:hover {
    cursor: pointer;
    
    transition: 0.6s
}


/*breadcrumb*/
.breadcrumb {
    padding: 10px;
    display: NONE;
    color: aliceblue;
    font-size: 20px
}

.breadcrumb a {
    padding: 10px 15px
}

.main .post button {
    position: absolute;
    right: 50%;
    bottom:15px;
    border: none;
    cursor: pointer;
    transform: translate(50%, 0%);
    border: 3px solid #00695c;
    outline: none;
    border-radius: 10px;


}

.main .post button:active {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.7), inset -3px -3px 5px rgba(255, 255, 255, 0.3);
}

.post button {
    padding: 15px 30px;
    color: aliceblue;
    text-shadow: 2px 2px 2px #000000;
    background: #00695c;

    font-size: 19px
}

.post button:hover {
    background: #003333;

    transition: 0.5s;

}

.category {
    list-style: none;
    margin-bottom: 60px;
}
.category b{
    display: block;
    font-size: 25px;
    background-image: linear-gradient(to top left,#00695c,#00695c);
    padding: 30px 20px;
    border-radius: 10px 10px 0px 0px;
    color: #84FFFF;
    text-shadow: 2px 2px 2px #000000;
}

@keyframes moves{
    0%{transform: translateX(10px);}
    100%{transform: translateX(-10px);}
}

.category li:hover i{animation: moves 0.6s linear infinite alternate;}


.category li {
    margin-top: 3px;
    padding: 17px 0px;
    background: #00695c;
    border-bottom: 2px solid green;

}
.category li i{font-size: 19px;color: #ffffff;padding:0px 10px;}

.category li:hover{
    transition: .6s .3s;
    
}


.category li a {
    text-decoration: none;
    padding: 10px 10px;
    color: #ffffff;
    font-size: 18px;
    transition: 0.6s linear;
    text-shadow: 2px 2px 2px #000000;
}
.category li:hover a {
    transition: 0.6s;
    text-align: center;
    letter-spacing: 1px;
    
}
.download{
    padding: 1rem;
    background: #003333;
    color: #f1f1f1;
    cursor: pointer;
    outline: none;
    border: 2px solid #00695c;
    font-size: 18px;
    display: inline-block;
    margin: 20px auto;
    transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-decoration: none;

}
.download:hover{
    transform: scale(1.2);
}
.download i{padding-right: 10px;}
footer {
    background: #00695c;
    color: aliceblue;
    padding: 30px 10px;
    box-shadow: 0px 0px 2px 1px #666666;

}
footer p{text-align: center;text-shadow: 2px 2px 2px #000000;}

.share {
    width: 100%;
    margin: auto;
    background: #003333;
    color: #ffffff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    position: sticky;
    bottom: 0;
    transition: display 0.6s;
    overflow: hidden;
}
.share b{text-shadow: 2px 2px 2px #000000;}
.share ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.share ul li {
    display: inline-block;
    margin-left: 10px;
}

.share ul li:hover a img {
    transform: scale(1.2);
    transition: 0.3s  cubic-bezier(0.2, 1, 0.3, 1);
}

.share ul li a {
    padding: 10px 20px;
}

.share ul li a img {
    height: 36px;
    width: 36px;
}

@media screen and (min-width:700px) {
    .share p {
        display: inline-block;
    }

    .share b span {
        font-size: 30px;
    }
}

@media screen and (max-width:600px) {
    .container {
        flex-direction: column;
    }

    .share ul li a img {
        height: 20px;
        width: 20px;
    }

    .share ul li {
        display: inline-block;
        margin-left: 3px;
    }

    .share ul {
        margin-top: 10px;
    }

    .share ul li a {
        padding: 6px
    }

    .container .sidebar {
        flex: 100%;

    }

    .container .main {
        flex: 100%
    }

    .main .post {
        width: 100%
    }



}



.gototop {

    background: #00695c;
    display: inline-block;
    color: #f1f1f1;
    position: fixed;
    padding: 16px 32px;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 4px 3px #ffffff;
    user-select: none;
    opacity: 0;
    transition: 0.6s linear;
}


.newsletter {
    border: 2px solid red;
    padding: 20px 10px;
    margin-top: 20px;
    font-size: 18px
}

.newsletter input {
    padding: 10px;
    cursor: pointer
}

.navbar {
    height: 0;

    width: 0;
    overflow: hidden;
    background: #33ab9f;
    position: relative;
    z-index: 3;


}

.navbar ul {
    list-style: none
}

.navbar ul li {
    display: block;

    border-bottom: 1px solid #ffffff;

}

.navbar ul li:hover a {
    transform: translateX(30px);
    transition: 0.6s ease-in-out;



}

.navbar ul li a {
    padding: 20px 15px;
    text-decoration: none;
    color: aliceblue;
    display: block;
    font-weight: 700;
}




object{height: 500px;width: 100%;}
@media screen and (max-width:700px) {
    .container {
        flex-direction: column;
    }

    .gototop {
        bottom: 100px;
        display: none!important;
    }

    body {
        background: transparent;
    }
    header.top b{font-size: 18px;}
    header.top #navbutton{padding: 10px;}
    .container .sidebar {
        
        padding: 10px 10px;
        
    
    }
}

.copy {
    padding: 200px;
}
#fullscreen{cursor: pointer;;display: inline-block;}
#fullscreen img{height: 40px;width: 40px;}

/*Text Ditortion*/
.distort h2{
    color: #f1f1f1;
    margin: 20px 0 0;
}
.distort h2::before{
    content: '';
    position: absolute;
    left: 0;
    width: 120%;
    height: 100px;
    background: linear-gradient(90deg,transparent 0%,#000 5%,#000 100%);
    animation: distort 5.5s linear forwards;
    animation-delay: 2s;
}
@keyframes distort{
    0%{
        left: 110%;
    }
    100%{
        left: -20%;
    }
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
    mix-blend-mode: screen;

}

.top .searchButton{
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    margin-right: 10px;
    flex:5%;
}
.top .searchButton .fa-search{color: #ffffff;font-size: 20px;display: inline-block;}
.search-container{
   overflow: hidden;
    background: #004D40;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 0;
    padding: 0px;
    z-index: 2;
    position:fixed;
    

    
}
.search-container .blog-search{
    display: flex;
}
.search-container .blog-search input{
    flex: 70%;
    padding: 30px 60px;
    border: none;
    outline: none;
    font-size: 20px;
    transition: 0.6s;
    
}
.search-container .blog-search input[type='submit']{
    flex: 30%;
    background: #003333;
    color: #ffffff;
    border:1px solid #84FFFF;
    cursor: pointer;

}
.banner{
    height: 90vh;
    width: 100%;
    background: #000;
    color: #f1f1f1;
    background: url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-black-minimalist-atmospheric-wooden-background-backgroundwooden-backgroundtree-texture-image_77053.jpg);
    background-position: fixed;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.banner h1{font-size:80px;line-height:1.5;
}
.banner p{font-size: 30px;line-height: 1.4;}
.main .readmore{
    text-decoration: none;
    color: #84FFFF;
    background: #003333;
    padding: 15px 30px;
    border: 2px solid;
    outline: navajowhite;
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 3px;
}
.readmore:hover{
    background: #4DB6AC;
    color: #000000;
    transition:0.6s;
}
.newsletter{
    padding: 40px 20px;
    background: #003333;
    margin: 30px auto;
    width: 60%;
    display: flex;
    border-color:#000000 ;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.newsletter .contact-us{
    
    width: 100%;
}

/*for outer header*/
.main section header{text-align:left;}
/*for iner header*/
section .post header{text-align: left;}
section .post header .article-title{
position: relative;
padding-bottom: 10px;
    
    
}
.post p{margin-top: 10px;}
section .post header .article-title::after{
    content: '';
    margin-top: 3px;
    width: 20% ;
    display: block;
    height: 3px;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: 0;
}
section .post:hover header .article-title::after{
    width: 100%;
    transition: 0.3s linear;
    background: #4DB6AC;
    border-radius: 10px;
}
.post:hover .thumbnail img{transform: scale(1.3);transition: 0.6s linear;}
.post:hover .readmore{
    
    transition: 0.6s linear;
    border-color: #4DB6AC;
    letter-spacing: 1px;
    padding-left: 5px;
}


@media screen and (max-width: 600px) {
    .top b{flex: auto;}
    .search-container .blog-search input{
       
       padding: 20px 10px;
    }
    
    #navbutton {
        padding: 10px 15px;
        left: 0px;
        top: 10px;
    }
    #navbutton .line {
        width: 25px;
        height: 3px;
        background: #f1f1f1;
        margin: 4px;
    }

    .top {
        align-items: center;
    }

    .top b {
        text-align: right;
        padding-right: 17px;
    }
    .share{
        flex-direction: column;
    }
    .category li{
        display: flex;
        overflow: hidden;
        flex-wrap: nowrap;
        transition:0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .banner h1{
        font-size: 50px;
        transition: 0.6s;
    }

   .main .post{
        flex-direction: column;
        
            margin: 30px 0px;
           padding: 0;
            
            
           
      
       
    }

    .post .thumbnail{
        flex: 100%;
        height: 200px;
        width: 100%;
    
    }
    .post .thumbnail img{
    width: 100%;
    height: 100%;
    }
    .post .content{
        flex: 100%;
        padding: 10px;
        align-content: flex-start;
        align-self: flex-start;
        
    }


    .main .readmore{
        display: block;
        width: 80%;
        position: relative;
        bottom: 0;
        margin: 20px auto;
    

    }

   





}
@media screen and (max-width:400px){
    .search-container .blog-search{
        flex-direction: column;
    }
    .search-container .blog-search input{
       flex: 100%;
       padding: 20px 10px;
    }
    .search-container .blog-search input[type="submit"]{
       flex: 40%;
       margin-top: 10px;
    }
}




.show {
    transition: 0.4s ease;
    height: 900px;
    width:100%;


}
.showSearchContainer{
    height: auto;
    padding: 20px;
    transition:0.6s linear;
    width: 100%;
    
}
